<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EscribirArchivo</servlet-name>
        <servlet-class>Controllers.EscribirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerArchivo</servlet-name>
        <servlet-class>Controllers.LeerArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tutorias</servlet-name>
        <servlet-class>Controllers.Tutorias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EscribirArchivo</servlet-name>
        <url-pattern>/EscribirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerArchivo</servlet-name>
        <url-pattern>/LeerArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tutorias</servlet-name>
        <url-pattern>/Tutorias</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
